@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }

@layer base {
  body { @apply font-body bg-cream text-ink; }
  h1, h2, h3, h4 { @apply font-title text-ink; }
  a { @apply no-underline; }
}
